body{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    color: white;
}

.slide{
    margin-bottom: 50px;
}

.slide:not(:last-child :first-child){
    /* margin-top: 1px; */
    border-top: thin solid white;
    /* border-bottom: thin solid white; */
}

.main_container{
    width: 100vw;
    height: 100vh;
    /* transform: rotate(-90deg) translateX(-100vh); */
    /* transform-origin: top left; */
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wrapper{
    /* padding-top: 4px; */
    display: flex;
    flex-direction: column;
    /* height: 1600vh; */
    background-color: black;

    /* transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left; */
}

.wrapper > div{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

h2:not(.header h2){
    font-size: calc(18px + 7 * ((100vw - 1200px) / 1360));
    margin-bottom: calc(25px + 5 * ((100vw - 1200px) / 1360));
}

.profile{
    padding: 20px calc(30px + 30 * ((100vw - 1200px) / 1360));
    /* border-bottom: thin solid white; */
}

.profile h2{
    padding-left: calc(25px + 25 * ((100vw - 1200px) / 1360));
    margin-bottom: calc(15px + 5 * ((100vw - 1200px) / 1360));
}

.header:not(.list .header){
    display: flex;
    align-items: center;
    height: calc(100px + 5 * ((100vw - 1200px) / 1360));
}

.header h2{
    font-size: calc(40px + 20 * ((100vw - 1200px) / 1360));
}

.venus .header{
    padding-top: calc(0px + 30 * ((100vw - 1200px) / 1360));
}

.slide > div:last-child .header{
    justify-content: end;
}



.intro_text p, h3,
.facts_list li{
    text-align: justify;
    word-spacing: calc(12px + 8 * ((100vw - 1200px) / 1360));
    font-size: calc(15.3px + 13 * ((100vw - 1200px) / 1360));
}

.intro_text p, h3{
    line-height: calc(1.3em + 5 * ((100vw - 1200px) / 1360));
}

h3{
    font-weight: bold;
    margin-top: calc(15px + 5 * ((100vw - 1200px) / 1360));
}

.padding{
    margin-bottom: calc(15px + 5 * ((100vw - 1200px) / 1360));
}

.facts_list li{
    list-style: disc;
    list-style-position: inside;

    line-height: calc(1.2em + 5 * ((100vw - 1200px) / 1360));
    padding-bottom: calc(8px + 10 * ((100vw - 1200px) / 1360));
}

.intro_text{
    padding: calc(20px + 30 * ((100vw - 1200px) / 1360)) 60px;
}

.tab_parameters{
    width: 100%;
}

.tab_parameters td{
    padding: calc(5px + 5 * ((100vw - 1200px) / 1360)) 0;
}

.tab_parameters td:first-child{
    width: 45%;
    padding-left: calc(25px + 25 * ((100vw - 1200px) / 1360));
}

.tab_parameters tr:not(:last-child){
    border-bottom: 1px solid grey;
}
